<div class="container">
  <div class="row">
    <div class="col-12z">
      <form [formGroup]="form">
        <div class="mt-5 mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" />
          <div>
            <p></p>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
          />
        </div>

        <button
          [routerLink]="'/portfolio'"
          type="submit"
          class="btn btn-success"
        >
          Login
        </button>
        <!-- <button type="submit" class="btn btn-secondary">Cancel</button> -->
      </form>
    </div>
  </div>
</div>
