<div class="container">
  <div class="row">
    <div class="col-4 mt-4">
      <h2>Experiencia laboral</h2>
    </div>
    <div>
      <button (click)="Add()" class="btn btn-success d-flex float">
        + Nueva experiencia
      </button>
    </div>
    <ul class="items-list">
      <li *ngFor="let experiencia of experienciaList">
        <div class="card m-3 col-12 col-md-12 p-4 shadow hover-shadow">
          <div class="card-header bg-dark text-white">
            <h3>
              {{ experiencia.name }}
              <div class="icons">
                <a href="/edit-exp">
                  <i class="fa-solid fa-pen-to-square fa-lg text-info"></i>
                </a>
                <a href="">
                  <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                </a>
              </div>
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <img src="" alt="img.jpg" align="left" />
              <div class="col-4">
                <p class="mt-2">
                  <time> {{ experiencia.time }} </time>
                </p>
              </div>
              <div class="col-8">
                Descripción: {{ experiencia.description }}
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr class="mt-4" />
  </div>
</div>
