<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <img src="../../../assets/yo.jpg" alt="me.jpg" />
      <h2 class="mt-3">David Cicconi</h2>
    </div>
    <div class="row justify-content-end">
      <div class="col-7">
        <h3>Full Stack Developer Jr.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos qui
          dolorum voluptates natus sapiente nemo odit facilis eaque aut! Rerum
          ipsa officiis, nihil, in sapiente laborum corporis, beatae ab magnam
          fugiat minus! Aliquam beatae, vitae cumque dicta distinctio commodi
          dolorum!
        </p>
      </div>
      <hr class="mt-4" />
    </div>
  </div>
</div>
