<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <img [src]="miPortfolio.myImg" alt="me.jpg" />
      <div class="btn-edit">
        <a href="#">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </div>
      <h1 class="mt-3">
        <b>{{ miPortfolio.name }}</b>
      </h1>
      <h3 class="mb-2">{{ miPortfolio.position }}</h3>
      <p>
        {{ miPortfolio.phone }}
      </p>
      {{ miPortfolio.aboutMe }}
    </div>

    <hr class="mt-4" />
  </div>
</div>
